.link-item {
  position: relative;
  transition: border-bottom 0.3s;
}

.link-item:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #ff753a;
  transition: width 0.3s;
}

.link-item:hover:before {
  width: 100%;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
