.link-item {
    position: relative;
    transition: border-bottom 0.3s;
  }
  
  .link-item:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FF753A;
    transition: width 0.3s;
  }
  
  .link-item:hover:before {
    width: 100%;
  }
  